$color-texto: brown;
$color-principal: olivedrab;
$color-secundario: maroon;
$color-header: rgb(223, 184, 150);
$color-borde-input: #c9b8aa;
$color-error: #7f1717;
$color-blanco: white;

$fuente-principal: "Quicksand", sans-serif;

$radio-sm: 8px;
$radio-md: 10px;
$radio-lg: 12px;